.app-wrapper{
  margin:0 auto;
  width: 1800px  ;
  display: grid;
   grid-template-areas:
"h h"
"n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;

}
.nav{
grid-area: n;
  background-color: cornflowerblue;
}
.content{
grid-area: c;
  background-color: cornsilk;
}
.header{
grid-area: h;
  background-color: darkgreen;
}
.header img{
  width: 40px;
}